@model WAG.ViewModels.ArtisticWorks.ArtWorkDetailsViewModel
@{
    ViewData["Title"] = "Творба детайли";

    Cloudinary cloudinary = Model.Cloudinary;

    string availability = "Продадена";
    string hasFrame = "Без рамка";

    if (Model.Availability == true)
    {
        availability = "В наличност";
    }

    if (Model.HasFrame == true)
    {
        hasFrame = "С рамка";
    }

}

<main class="container" id="artwork-details-main">
    <div class="row">

        <section class="col-sm-9 col-12">
            <img src="@Html.Raw(cloudinary.Api.UrlImgUp.Secure(true).Format("jpg")
                             .Transform(new Transformation().Width(350).Quality(100))
                             .BuildUrl(Model.PictureFileName))" id="artwork-details-img" alt="Picture of the artwork" />
        </section>

        <aside class="col-sm-3 col-12" id="artwork-details-info">
            <h3>@Model.ArtWorkCategory.Name</h3>
            <p>
                &#x2116; @Model.Id<br />
                &copy; @Model.Year Ema Ivanova<br />
                @(Model.Height)x@(Model.Width)cm<br />
                @Model.Technique<br />
                @hasFrame<br />
                @availability<br />
                <span style="color:green;">@(Model.Price)лв</span>
                <br />
            </p>
            @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
            {
                <a class="btn btn-success" asp-area="BG" asp-controller="Home" asp-action="Contact"><i class="fas fa-shopping-cart"></i> Поръчай</a>
            }

            @if (!User.Identity.IsAuthenticated)
            {
                <a class="btn btn-success" asp-area="BG" asp-controller="Home" asp-action="Contact"><i class="fas fa-shopping-cart"></i> Поръчай</a>
            }

            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-primary" asp-area="Administration" asp-controller="ArtisticWork" asp-action="EditArtWork" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-primary" asp-area="Administration" asp-controller="ArtisticWork" asp-action="DeleteArtWork" asp-route-id="@Model.Id">Delete</a>
            }
        </aside>

    </div>
</main>
