@model WAG.ViewModels.UserAccount.UserDetailsViewModel
@{
    ViewData["Title"] = "потребителски профил";
}

<header class="container header-default">
    <div class="row">
        <div class="col-sm-12 col-12">
            <h2>Моят профил</h2>
        </div>
    </div>
</header>

<main class="container text-center main-default">
    <div class="row">
        <div class="col-sm-12 col-12">
            <p>Потребителско име: <strong>@Model.UserName</strong></p>
            <p>Име: <strong>@Model.FirstName</strong></p>
            <p>Фамилия:<strong>@Model.LastName</strong> </p>
            <p>Имейл: <strong>@Model.Email</strong></p>
            <p>Телефонен номер: <strong>@Model.PhoneNumber</strong></p>
            <p>Град: <strong>@Model.City</strong></p>
            <p>Адрес: <strong>@Model.Address</strong></p>

            <a class="btn btn-primary" asp-area="BG" asp-controller="UserAccount" asp-action="EditUserProfile">Редактирай</a>
            <a class="btn btn-primary" asp-area="BG" asp-controller="UserAccount" asp-action="ChangePassword">Смяна на парола</a>
        </div>
    </div>
</main>


