@model WAG.ViewModels.UserAccount.UserDetailsViewModel

@{
    ViewData["Title"] = "UserDetails";
}

<header class="container header-default">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">User details</h2>
        </div>
    </div>
</header>

<main class="container main-default">
    <div class="row">
        <div class="col-12">
            <div id="user-details-wrap" class="center-block text-center">
                <p>Username: <strong>@Model.UserName</strong></p>
                <p>First name: <strong>@Model.FirstName</strong></p>
                <p>Last name: <strong>@Model.LastName</strong></p>
                <p>City: <strong>@Model.City</strong></p>
                <p>Address: <strong>@Model.Address</strong></p>
                <p>Phone number: <strong>@Model.PhoneNumber</strong></p>
                <p>Email: <strong>@Model.Email</strong></p>
                <p>
                    Identity Roles:
                    @if (Model.IdentityRoles != null)
                    {
                    <strong>@String.Join(", ", Model.IdentityRoles)</strong>
                    }
                </p>
                <br />
                <a class="btn btn-primary" asp-area="Administration" asp-controller="UserAccount" asp-action="DeleteUser" asp-route-id="@Model.UserId">Delete</a>
                @if (!Model.IdentityRoles.Contains("Admin"))
                {
                    <a class="btn btn-primary" asp-area="Administration" asp-controller="UserAccount" asp-action="MakeUserAdmin" asp-route-userId="@Model.UserId">Make Administrator</a>
                }
                else
                {
                    <a class="btn btn-primary" asp-area="Administration" asp-controller="UserAccount" asp-action="RemoveUserFromAdminRole" asp-route-userId="@Model.UserId">Drop Admin Role</a>
                }


            </div>
        </div>
    </div>
</main>

