@model WAG.ViewModels.UserAccount.UserDetailsViewModel

@{
    ViewData["Title"] = "UserDetails";
}

<header class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">User details</h2>
        </div>
    </div>
</header>

<main class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="center-block text-center" style="width:30%; border:solid">
                <p>Username: @Model.User.UserName</p>
                <p>First name: @Model.User.FirstName</p>
                <p>Last name: @Model.User.LastName</p>
                <p>City: @Model.User.City</p>
                <p>Address: @Model.User.Address</p>
                <p>Phone number: @Model.User.PhoneNumber</p>
                <p>Email: @Model.User.Email</p>
                <p>
                    Identity Roles:
                    @if (Model.IdentityRoles != null)
                    {
                        @String.Join(", ", Model.IdentityRoles);
                    }
                </p>
                <br />
                <a class="btn btn-primary" asp-area="Administration" asp-controller="UserAccount" asp-action="DeleteUser" asp-route-id="@Model.User.Id">Delete</a>
                @if (!Model.IdentityRoles.Contains("Admin"))
                {
                    <a class="btn btn-primary" asp-area="Administration" asp-controller="UserAccount" asp-action="MakeUserAdmin" asp-route-userId="@Model.User.Id">Make Administrator</a>
                }
                else
                {
                    <a class="btn btn-primary" asp-area="Administration" asp-controller="UserAccount" asp-action="RemoveUserFromAdminRole" asp-route-userId="@Model.User.Id">Drop Admin Role</a>
                }


            </div>
        </div>
    </div>
</main>

