@model WAG.ViewModels.Blog.EditArticleViewModel
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv

@{
    ViewData["Title"] = "EditArticle";

    string webDomainAddress = null;

    if (hostingEnv.EnvironmentName == WAG.Services.Constants.Environments.Production)
    {
        webDomainAddress = WAGDomainAddress.ProductionAddress;
    }
    else
    {
        webDomainAddress = WAGDomainAddress.LocalHost;
    }

    string generateSignatureEndpoint = $"{webDomainAddress}/Administration/Cloudinary/GenerateSignature";

    Cloudinary cloudinary = Model.Cloudinary;
    string cloudName = "emaivanova";
    string apiKey = "767268356668237";
    string uploadPreset = "ml_default";
}

<header class="container header-default">
    <div class="row">
        <div class="col-sm-12 col-12">
            <h2>Edit Article</h2>
        </div>
    </div>
</header>

<main class="container main-default">
    <div class="row">
        <div class="col-sm-12 col-12" id="edit-article-form-wrap">
            <form method="post" enctype="multipart/form-data" asp-area="Administration" asp-controller="Blog" asp-action="EditArticle">
                <input type="hidden" class="form-control" asp-for="@Model.ArticleId">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" id="edit-article-title-form" placeholder="Title..." />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShortDescription"></label>
                    <textarea asp-for="ShortDescription" class="form-control wysiwyg" id="edit-article-srt-desc"></textarea>
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArticleContent"></label>
                    <textarea asp-for="ArticleContent" class="form-control wysiwyg" id="edit-article-content"></textarea>
                    <span asp-validation-for="ArticleContent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div id="upload_widget" class="cloudinary-button">Upload image file</div>
                    <input type="hidden" class="form-control" id="imageId" asp-for="@Model.MainPictureFileName">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</main>

<script type="text/javascript">
    // Generate signature for upload operation with Cloudinary widget
    var generateSignature = function (callback, params_to_sign) {
        $.ajax({
            url: "@generateSignatureEndpoint",
            type: "GET",
            dataType: "text",
            data: { data: params_to_sign },
            complete: function () { console.log("complete") },
            success: function (signature, textStatus, xhr) { callback(signature); },
            error: function (xhr, status, error) { console.log(xhr, status, error); }
        });
    }
</script>

<script type="text/javascript">
    // Open Cloudinary widget and upload media content
    $('#upload_widget').cloudinary_upload_widget({
        cloudName: "@cloudName", apiKey: "@apiKey", upload_preset: "@uploadPreset", uploadSignature: generateSignature
    }, (error, result) => {
        if (!error && result && result.event === "success") {
            console.log('Done! Here is the image info: ', result.info);
            $("#imageId").val(result.info.public_id);
            console.log($("#imageId").val());
        }
    });
</script>

