@model WAG.ViewModels.Order.MyOrdersViewModel

@{
    ViewData["Title"] = "MyOrders";

    ViewData["OrdinaryOrder"] = "Обикновена поръчка";
    ViewData["SpecialOrder"] = "Специална поръчка";
}

<header class="container header-default">
    <div class="row">
        <div class="col-12">
            <h2>Моите поръчки</h2>
        </div>
    </div>
</header>

<main class="container main-default">
    <div class="row">
        <div class="col-12">
            @if (Model.UserOrders == null || Model.UserOrders.Count == 0)
            {
                <h3 class="text-center">В момента нямате заявени поръчки</h3>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Тип на поръчката</th>
                            <th scope="col">Каталожен номер на творбата</th>
                            <th scope="col">Детайли на поръчката</th>
                            <th scope="col">възможности</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.UserOrders.Count; i++)
                        {
                            <tr>
                                <th scope="row">@(i + 1)</th>

                                @if (Model.UserOrders[i].ArtisticWorkId != null)
                                {
                                    <td>
                                        @ViewData["OrdinaryOrder"]
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @ViewData["SpecialOrder"]
                                    </td>
                                }

                                <td>@Model.UserOrders[i].ArtisticWorkId</td>
                                <td><a asp-area="BG" asp-controller="Order" asp-action="OrderDetails" asp-route-id="@Model.UserOrders[i].Id">Детайли</a></td>
                                <td>
                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Изтрий поръчка</button>
                                </td>
                            </tr>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Изтриване на поръчка</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Сигурни ли сте, че искате да изтриете поръчката???
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                                            <form method="post" asp-area="BG" asp-controller="Order" asp-action="DeleteOrder" asp-route-id="@Model.UserOrders[i].Id">
                                                <button type="submit" class="btn btn-primary">Изтрий поръчката</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</main>
