@model WAG.ViewModels.Order.OrderDetailsViewModel

@{
    ViewData["Title"] = "OrderDetails";
}

<header class="container header-default">
    <div class="row">
        <div class="col-sm-12 col-12">
            <h2>Детайли за поръчката</h2>
        </div>
    </div>
</header>

<main class="container main-default">
    <div class="row">
        <div class="col-sm-12 col-12" id="order-details">
            <div class="text-center">
                <p>Телефон за контакт: <strong>@Model.Order.TelephoneNumberForContact</strong></p>
                <p>Адрес за получаване: <strong>@Model.Order.DeliveryAddress</strong></p>
                <p>Допълнителна информация: <strong>@Model.Order.OrderInfo</strong></p>
            </div>
            @if (Model.Order.ArtisticWork != null)
            {
                <div class="text-center">
                    <p class="">Каталожен номер на творбата: <strong>@Model.Order.ArtisticWork.Id</strong></p>
                    <p>Цена: <strong>@(Model.Order.ArtisticWork.Price)лв</strong></p>
                </div>
                <img src="~/images/artWorks/@Model.Order.ArtisticWork.PictureFileName"/>
            }
        </div>
    </div>
</main>



