@model WAG.ViewModels.Order.OrderDetailsViewModel

@{
    ViewData["Title"] = "OrderDetails";
}

<header class="container header-default">
    <div class="row">
        <div class="col-12">
            <h2>OrderDetails</h2>

        </div>
    </div>
</header>

<main class="container main-default">
    <div class="row">
        <div class="col-12" id="order-details">
            <div class="text-center">
                <p>Phone number for contact: <strong>@Model.Order.TelephoneNumberForContact</strong></p>
                <p>Delivery Address: <strong>@Model.Order.DeliveryAddress</strong></p>
                <p>Additional Info: <strong>@Model.Order.OrderInfo</strong></p>
            </div>
            @if (Model.Order.ArtisticWork != null)
            {
                <div class="text-center">
                    <p class="">Artwork serial number: <strong>@Model.Order.ArtisticWork.Id</strong></p>
                    <p>Price: <strong>@Model.Order.ArtisticWork.Price</strong></p>
                </div>
                <img src="~/images/artWorks/@Model.Order.ArtisticWork.PictureFileName"/>
            }
        </div>
    </div>
</main>



