@model WAG.ViewModels.UserAccount.UserDetailsViewModel
@{
    ViewData["Title"] = "MyProfile";
}

<header class="container header-default">
    <div class="row">
        <div class="col-12">
            <h2>My Profile</h2>
        </div>
    </div>
</header>

<main class="container text-center main-default">
    <div class="row">
        <div class="col-12">
            <p>UserName: <strong>@Model.UserName</strong></p>
            <p>First Name: <strong>@Model.FirstName</strong></p>
            <p>Last Name:<strong>@Model.LastName</strong> </p>
            <p>Email: <strong>@Model.Email</strong></p>
            <p>Phone Number: <strong>@Model.PhoneNumber</strong></p>
            <p>City: <strong>@Model.City</strong></p>
            <p>Address: <strong>@Model.Address</strong></p>

            <a class="btn btn-primary" asp-area="" asp-controller="UserAccount" asp-action="EditUserProfile">Edit Your Profile Details</a>
            <a class="btn btn-primary" asp-area="" asp-controller="UserAccount" asp-action="ChangePassword">Change Password</a>
        </div>
    </div>
</main>


