@model WAG.ViewModels.Blog.ArticleDetailsViewModel

@{
    ViewData["Title"] = "Блог Статия";

    if (Model.ArticleContent == null)
    {
        Model.ArticleContent = "Съдържанието на тази статия не е намерено.";
    }
}

<header class="container header-default">
    <div class="row">
        <div class="col-sm-12 col-12">
            <h1>Добре дошли в артистичния блог на Ема Иванова</h1>
        </div>
    </div>
</header>

<main class="container main-default">
    <div class="row">
        <div class="col-sm-12 col-12">

            <article>

                <header class="header-default">
                    <h2>@Model.Title</h2>
                </header>

                <p class="blog-index-info-icons"><i class="far fa-calendar-alt"></i> @Model.CreatedOn.ToShortDateString() &ensp; <i class="fas fa-comment-dots"></i> @Model.Comments.Count() Коментари</p>
                @if (Model.MainPictureFileName != null)
                {
                    <img src="~/images/articles/@Model.MainPictureFileName" id="blog-details-img-main" />
                }
                <div id="blog-details-srt-desc">@Html.Raw(Model.ShortDescription)</div>
                <div id="blog-details-article-content">@Html.Raw(Model.ArticleContent)</div>
                <br />
            </article>

            @if (User.IsInRole("Admin"))
            {
                <div id="blog-details-admins-buttons">
                    <h3>Manage the article:</h3>
                    <a class="btn btn-primary" asp-area="Administration" asp-controller="Blog" asp-action="EditArticle" asp-route-id="@Model.ArticleId">Edit</a>
                    <a class="btn btn-primary" asp-area="Administration" asp-controller="Blog" asp-action="DeleteArticle" asp-route-id="@Model.ArticleId">Delete</a>
                </div>
            }
            <br />
            <div id="comment-area">
                <div id="all-comments">
                    <p style="font-weight:bold">Коментари:</p>
                    @if (Model.Comments != null)
                    {
                        foreach (var comment in Model.Comments)
                        {
                            string user = null;

                            if (comment.WAGUser.FirstName != null && comment.WAGUser.LastName != null)
                            {
                                user = $"{comment.WAGUser.FirstName} {comment.WAGUser.LastName}";

                                if (User.IsInRole("Admin"))
                                {
                                    user = $"{comment.WAGUser.FirstName} {comment.WAGUser.LastName} ({comment.WAGUser.UserName})";
                                }
                            }
                            else
                            {
                                user = $"{comment.WAGUser.UserName}";
                            }

                            <div id="comment-id-@comment.Id">
                                <p class="comment">@user: @comment.TextBody<button type="button" value="@comment.Id" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>
                            </div>
                        }
                    }
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <form>
                        <div @*class="form-group" *@>
                            <label id="your-comment-label">Твоят коментар:</label>
                            <br />
                            <textarea id="your-comment-input" class="form-control" placeholder="Коментирай..."></textarea>
                            <br />
                            <div id="post" class="btn btn-primary">Публикувай</div>
                        </div>
                    </form>
                }
                else
                {
                    <br />
                    <div class="text-center">
                        <p>За да коментирате, трябва първо да влезете в профила си</p>
                        <a class="btn btn-default" asp-controller="UserAccount" asp-action="Login">Login</a> <a class="btn btn-default" asp-controller="UserAccount" asp-action="Register">Sign Up</a>
                    </div>
                }
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        let currArticleId = @Model.ArticleId;

        //URL parsing from string to anchor-element at article content
        //parseUrl();

        //Add Comment
        addComment();

        //Delete Comment
        deleteComment();

        //To see another part of js code, go to site.js file
    </script>
}
