@model WAG.ViewModels.Blog.BlogIndexViewModel

@{
    ViewData["Title"] = "Блог";

    Cloudinary cloudinary = Model.Cloudinary;
}

<header class="container header-default">
    <div class="row">
        <div class="col-sm-12 col-12">
            <h1>Добре дошли в артистичния блог на Ема Иванова</h1>
        </div>
    </div>
</header>

<main class="container main-default">

    @foreach (var article in Model.AllArticles)
    {
        <div class="row">
            <aside class="col-sm-5">
                @if (article.MainPictureFileName != null)
                {
                    <img src="@Html.Raw(cloudinary.Api.UrlImgUp.Secure(true).Format("jpg")
                             .Transform(new Transformation().Width(300).Quality(100))
                             .BuildUrl(article.MainPictureFileName))" class="blog-index-img">
                }
            </aside>

            <section class="col-sm-7">
                <article class="blog-index-article">
                    <div>
                        <h2 style="word-wrap:break-word">@article.Title</h2>
                    </div>
                    <div>
                        <p class="blog-index-info-icons"><i class="far fa-calendar-alt"></i> @article.CreatedOn.ToShortDateString() &ensp; <i class="fas fa-comment-dots"></i> @article.Comments.Count() Коментари</p>
                    </div>
                    <div class="blog-index-article-text-body">
                        @if (article.ShortDescription.Length < 400)
                        {

                            @Html.Raw(article.ShortDescription)
                        }
                        else
                        {
                            @Html.Raw(article.ShortDescription.Substring(0, 400))
                        }
                        ...
                    </div>
                    <a class="btn btn-default" asp-area="BG" asp-controller="Blog" asp-action="ArticleDetails" asp-route-id="@article.Id">ВИЖ ПОВЕЧЕ</a>
                </article>

            </section>
        </div>
    }
</main>

