@model WAG.ViewModels.ArtisticWorks.ArtWorkDetailsViewModel
@{
    ViewData["Title"] = "Artwork Details";

    Cloudinary cloudinary = Model.Cloudinary;

    string availability = "Not available";
    string hasFrame = "Without Frame";

    if (Model.Availability == true)
    {
        availability = "Available";
    }

    if (Model.HasFrame == true)
    {
        hasFrame = "With Frame";
    }

    decimal LevaToEuroCalculator(decimal leva)
    { 
        var euro = leva / 2;

        return euro;
    };

}

<main class="container" id="artwork-details-main">
    <div class="row">

        <section class="col-sm-9 col-12">
            <img id="artwork-details-img" alt="Picture of the artwork" src="@Html.Raw(cloudinary.Api.UrlImgUp.Secure(true).Format("jpg")
                             .Transform(new Transformation().Width(1.0).Quality(100))
                             .BuildUrl(Model.PictureFileName))" />
        </section>

        <aside class="col-sm-3 col-12" id="artwork-details-info">
            <h3>@Model.ArtWorkCategory.Name</h3>
            <p>
                &#x2116; @Model.Id<br />
                &copy; @Model.Year Ema Ivanova<br />
                @(Model.Height)x@(Model.Width)cm<br />
                @Model.Technique<br />
                @hasFrame<br />
                @availability<br />
                <span style="color:green;">@(LevaToEuroCalculator(Model.Price)) &#x20AC;</span>
                <br />
            </p>
            @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
            {
                <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact"><i class="fas fa-shopping-cart"></i> Order</a>
            }

            @if (!User.Identity.IsAuthenticated)
            {
                <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact"><i class="fas fa-shopping-cart"></i> Order</a>
            }

            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-primary" asp-area="Administration" asp-controller="ArtisticWork" asp-action="EditArtWork" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-primary" asp-area="Administration" asp-controller="ArtisticWork" asp-action="DeleteArtWork" asp-route-id="@Model.Id">Delete</a>
            }
        </aside>

    </div>
</main>
