@model WAG.ViewModels.ArtisticWorks.ArtWorkDetailsViewModel
@{
    ViewData["Title"] = "ArtWorkDetails";
    string availability = "Not available";
    string hasFrame = "Without Frame";

    if (Model.ArtisticWork.Availability == true)
    {
        availability = "Available";
    }

    if (Model.ArtisticWork.HasFrame == true)
    {
        hasFrame = "With Frame";
    }

}

<main class="container" id="artwork-details-main">
    <div class="row">

        <section class="col-sm-9 col-12">
            <img src="~/images/artWorks/@Model.ArtisticWork.PictureFileName" id="artwork-details-img" alt="Picture of the artwork" />
        </section>

        <aside class="col-sm-3 col-12" id="artwork-details-info">
            <h3>@Model.ArtisticWork.ArtisticWorkCategory.Name</h3>
            <p>
                &copy; @Model.ArtisticWork.Year Ema Ivanova<br />
                @(Model.ArtisticWork.Height)x@(Model.ArtisticWork.Width)cm<br />
                @Model.ArtisticWork.Technique<br />
                @hasFrame<br />
                @availability<br />
                <span style="color:green;">@(Model.ArtisticWork.Price / 2) &#x20AC;</span>
                <br />
            </p>
            @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
            {
                <a class="btn btn-success" asp-area="" asp-controller="Order" asp-action="MakeOrder" asp-route-id="@Model.ArtisticWork.Id"><i class="fas fa-shopping-cart"></i> Order</a>
            }

            @if (!User.Identity.IsAuthenticated)
            {
                <a class="btn btn-success" asp-area="" asp-controller="UserAccount" asp-action="Login"><i class="fas fa-shopping-cart"></i> Order</a>
            }

            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-primary" asp-area="Administration" asp-controller="ArtisticWork" asp-action="EditArtWork" asp-route-id="@Model.ArtisticWork.Id">Edit</a>
                <a class="btn btn-primary" asp-area="Administration" asp-controller="ArtisticWork" asp-action="DeleteArtWork" asp-route-id="@Model.ArtisticWork.Id">Delete</a>
            }
        </aside>

    </div>
</main>
